.board-options {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 25px;
  margin-bottom: 25px;

  .board-name {
    font-weight: 600;
    font-size: 24px;
  }

  .board-options-right {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;

    .add-column, .add-card {
      margin: 0 15px;
      padding: 5px 10px;
      border: 2px solid #6d83f2;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color .5s ease;
      background-color: transparent;
      color: white;
      font-size: inherit;
      font-weight: 600;
      font-family: 'Poppins';

      &:hover {
        background-color: #6d83f2;
      }

      &:disabled {
        background-color: #19235d;
        color: #7d7d7d;
        cursor: not-allowed;
        border-color: #47559f;
      }
    }
  }

  @media screen and (max-width: 750px) {
    flex-direction: column;
    padding: 0 25px;

    .board-options-right {
      margin-top: 15px;
    }

    .add-column, .add-card {
      font-size: 14px !important;
    }

    .add-column {
      margin-left: 0 !important;
    }
    .add-card {
      margin-right: 0 !important;
    }
  }
}
