.modal {
  width: 300px;
  background: #112240;
  z-index: 9999999;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  border-radius: 10px;
  min-width: 275px;

  .close {
    margin: 0 0 15px auto;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
  }

  button {
    margin-top: 20px;
    font: normal normal 600 16px/24px Poppins;
    color: white;
    padding: 10px 20px;
    border-radius: 16px;
    background: transparent;
    border: 2px solid #6d83f2;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: #6d83f2;
    }
  }

  @media screen and (max-width: 750px) {
    padding: 20px;
    width: auto;
  }
}
.add-item-modal {
  justify-content: flex-end;
}
